<!DOCTYPE html>
<html lang="en">
    <%- include('partials/head') %>
    <link rel="stylesheet" href="/stylesheets/<%= css %>">
    <%- include('partials/header') %>
<body>
<div class="container">
    <div class="row justify-content-center">
        <h2 class="col-12 text-center tituloPerfilEdit">Mi perfil</h2>
        
        <section class="editarPerfilSection">
            <h3 class="text-center">Edita tus datos:</h3>
            <div class="editInfoContenedor">
            <form action="/users/profile/edit/<%= usuario.id %>?_method=PUT" method="POST" enctype="multipart/form-data" id="formEditUser">
                    <div class="col-12 divEdit">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" value="<%= usuario.nombre %>" id="inputUnoEdit">
                    <small id="errorNombre" style="display: grid; color: red;"><%= (typeof errors != "undefined" && errors.nombre)?errors.nombre.msg: "" %></small>
                    </div>

                    <div class="col-12 divEdit">
                    <label for="nombre">Apellido:</label>
                    <input type="text" name="apellido" value="<%= usuario.apellido %>" id="inputUnoEdit" class="inputApellido">
                    <small id="errorApellido" style="display: none; color: red;"><%= (typeof errors != "undefined" && errors.apellido)?errors.apellido.msg: "" %></small>
                    </div>
                    
                    <div class="col-12 divEdit">
                    <label for="email">Email:</label>
                    <input type="email" name="email" value="<%= usuario.email %>" id="inputDosEdit">
                    <small id="errorEmail" style="display: none; color: red;"><%= (typeof errors != "undefined" && errors.email)?errors.email.msg: "" %></small>
                    </div>

                    <div class="col-12 divEdit">
                    <label for="telefono">Telefono:</label>
                    <input type="number" name="telefono" value="<%= usuario.telefono %>" id="inputTresEdit">
                    <small id="errorTelefono" style="display: none; color: red;"></small>
                    </div>

                    <div class="col-12 divEdit">
                    <label for="direccion">Dirección:</label>
                    <input type="text" name="direccion" value="<%= usuario.direccion %>" id="inputCuatroEdit">
                    <small id="errorDireccion" style="display: none; color: red;"></small>
                    </div>

                    <div class="col-12 divEdit">
                    <label for="avatar">Avatar:</label>
                    <input type="file" name="avatar" value="<%= usuario.avatar %>" id="inputAvatar">
                    <small id="errorAvatar" style="display: none; color: red;"><%= (typeof errors != "undefined" && errors.avatar)?errors.avatar.msg: "" %></small>
                    </div>

                    <div class="divEdit">
                    <button type="submit" value="<%= usuario.id %>" class="btnenviar">Enviar</button>
                    <button type="reset" class="btnreiniciar">Reiniciar</button>
                    </div>
            </form>

            <form action="/users/delete/<%= usuario.id %>?_method=DELETE" method="POST">
                <button type="submit">Borrar usuario</button>
            </form>
            </div>
        </section>
    </div>
</div>

    <%- include('partials/footer') %>
<script src="/javascripts/edicionUsuario.js"></script>
</body>
</html>