<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>

<body>
 <%- include('partials/header') %>

<main>
<h2 class="text-center my-4"><%= title %> </h2>
<section class="container">
    <div class="row p-5">
    <small class="col-12 nav justify-content-center" id="errorMsg" style="display: none; color: red;"></small>
        <div class="col-12" id="camposInput">    
        <form action="" method="POST" enctype="multipart/form-data" id="formProduct">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                     <div id="cajanombre form-group ">
                        <label for="">Nombre:</label>
                        <input class="form-control" type="text" name="nombre" id="inputNombre">
                        <small id="errorNombreProducto" style="display: grid; color: red;"><%= (typeof errors != 'undefined' && errors.nombre)?errors.nombre.msg: "" %></small>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div id="cajacategoria form-group">
                        <label for="">Categoria:</label>
                        <select name="categoria" class="form-control" id="categoriaProducto">
                            <option value="">Elija la categoría</option>
                            <% categorias.forEach(categoria => { %>
                                <option value=<%= categoria.id %> ><%= categoria.nombre.toUpperCase() %> </option>
                            <% }) %>
                           
                        </select>
                        <small id="errorCategoria" style="display: grid; color: red;"><%= (typeof errors != 'undefined' && errors.categoria)?errors.categoria.msg: "" %></small>
                    </div>
                </div>
                <div class="col-md-12 col-lg-2">
                    <div id="cajaprecio form-group">
                        <label for="">Precio:</label>
                        <input type="number" name="precio" class="form-control" id="precioProducto">
                        <small id="errorPrecio" style="display: grid; color: red;"><%= (typeof errors != 'undefined' && errors.precio)?errors.precio.msg: "" %></small>
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-md-12">
                    <div class="form-group" id="cajadescripcion">
                        <label for="textarea">Descripción:</label>
                        <textarea id="textarea" col="30" rows="5" name="descripcion" class="form-control"></textarea>
                        <small id="errorComentario" style="display: grid; color: red;"><%= (typeof errors != 'undefined' && errors.descripcion)?errors.descripcion.msg: "" %></small>
                    </div>
                </div>
            </div>
            <div class="row d-flex justify-content-around">
                <div class="col-6">
                    <div class="col-12 mt-4" id="cajafotos">
                        <input type="file" class="custom-file-input " id="imagen" lang="en" name="imagen">
                        <label class="custom-file-label" for="customFileLang">Agregar Imagen</label>
                        <small id="errorImagen" class="text-danger" style="display: grid;"><%= (typeof errors != 'undefined' && errors.imagen)?errors.imagen.msg: "" %> </small>
                        <small id="errorImagenD" style="display: none; color: red;"></small>
                    </div>
                </div>
                <div class="col-4 mt-4">
                    <button type="submit">Agregar</button>
                    <button type="reset">Resetear</button>
                </div>
            </div>
        </form>
        </div>
    </div>    
</section>
</main>

<%- include('partials/footer') %>
<script src="/javascripts/registroProductoValidator.js"></script>
<script>
    $('.custom-file-input').on('change', function(event) {
    var inputFile = event.currentTarget;
    $(inputFile).parent()
        .find('.custom-file-label')
        .html(inputFile.files[0].name);
    
}); 

</script>
</body>
</html>